# Agenda
* Python overview
* Basic Python syntax
* Pandas
* Lab

# Introduction

## Setting up your Environment:

- Anaconda Python 2.7 
- Spyder
- Jupyter Notebooks
- GitHub
- Datasets

# Python Overview

* Printing, Formatting, Prompts, Calculators, Creating and storing data
* Reading files, writing to files, creating decision logic, loops, lists, functions, 
* Classes, Modules, Numpy, Pandas, Machine learning, Web scrapping, R, SPSS Modeler, SAS,

## Let's start a step beyond "Hello World"
Functions basically are a set of instructions that you can call by calling the name of the function.

In [ ]:
#define lasagna():
#    mince garlic
#    cut tomato
#lasagna()#oversimplified recipe, will not result in actual lasagna

def ux():
    print "Here is a function that listing out printing techniques."
    print 'Single quotes work too!'
    print "I'd  'use' double quotes to encapsulate 'single' quotes in your prints."
    print 'OK "maybe"  one more'
ux()

#### Exercise Define a function that prints out all of the steps of how you got here today
- You can choose to complete your excersices in Jupyter or Spyder. I recommend Spyder for now. 
- After you complete each exercise save the individual exercise in a folder and name it something like py01_commenting.py

In [ ]:
# How did you get here today?

### Before going any further, commenting is everything
You should comment before each new section of code and can even comment line by line. Aside from that whenever you have a breakthrough comment instructions on what you did for your future self to remember. Write your comment as though someone who does not read code would understand what the code is doing from your comment.

In [ ]:
# Typically, you just use the # (pound) sign to comment out everything that follows it on that line.

print("Not a comment")
#print("Am a comment")


# Multiple line comments are slightly different. Simply use 3 single quotes before and after the part you want commented.

'''
print("We are in a comment")
print ("We are still in a comment")
'''
print("We are out of the comment")

#### Exercise 
- Take the code you created from the functions exercise copy and paste it below and then put comments in the code
to help you understand what you did 6 months from now

### Basic Math
Part of any programming or analytics is basic math. We will now combine math functions and print functions.

In [ ]:
print "I will now do some math:"

print "basic math", 25 + 30 / 6
print "modelo", 25 +30 % 6

print "What about order of operations?"

print 3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6
print (3 + 2 + 1) - (5 + 4 % 2) - 1 / (4 + 6)

print "Is it true that 3 + 2 < 5 - 7?"

print 3 + 2 < 5 - 7

print "Example of printing and Math"
print "What is 3 + 2?", 3 + 2
print "What is 5 - 7?", 5 - 7

print "Oh, that's why it's False."

print "How about some more."

print "Is it greater?", 5 > -2
print "Is it greater or equal?", 5 >= -2
print "Is it less or equal?", 5 <= -2

print (3 ** 4) # 3 to the fourth power

print (3 // 4) #floor division

#### Basic Math functions
- Print the text '1+ 1 =' and the answer
- Create a boolean function that brings back the text of what you are testing on and has an answer of False

#### Variables and Names
A variable is a container to hold a value

X = 10
X is a variable that now holds the number 10

I can say X+1 and get 11

X = 100	
Y = 72	
Z = 14	
	(X-Y)+Z = ?

In [ ]:
#VARIABLES
departments = 100
headcount_by_dept = 15
managers = 92
employees = 1498

# notice how you can concatinate strings with variables
print "There are", departments, " departments in our company"
print "There are only", managers," managers available"

Building Calculators

In [ ]:
# Finish the code EXERCISE
# Lets add some math in our variables with the above code

#VARIABLES
departments = 100
headcount_by_dept = 15
managers = 92
employees = 1498
managers_needed = departments
total_headcount = (departments * headcount_by_dept)+ managers_needed

# total_headcount minus (managers plus employees)
total_headcount_available= 

# employee divided by department

avg_employee_per_dept = 

# Create a print statement that tells you how many managers are needed, what the total headcount is, the headcount 
# available and the average employee per department.

 ### EXERCISE
Initial Markup (IMU) is the difference between the cost and selling price of an item when it is first introduced for sale.  It is also called Initial Mark On, Markon or Markup.  The formula for this calculation is:  

Selling price – cost = Initial Markup Dollars.  

If a buyer brings in a line of jeans with a cost of 25 per pair and initially prices them to sell at 55 per pair, the Initial Markup is 30.	

*Create an IMU calculator

### CONDITIONALS
* If then else

In [ ]:
people = 100
pineapple = 60
antip =40
paying = "Terry"

In [ ]:
if (pineapple%people) *100 > 50: print "pinapple does belong on pizza"
else: print "pineapple does not belong on pizza"

In [ ]:
(pineapple%people)

In [ ]:
if (pineapple%people) *100 > 50 and paying <> "Terry": print "pinapple does belong on pizza"
else: print "pineapple does not belong on pizza"

#### Exercise 
* Create a function to evaluate IMU and suggest an action

Here is a list of products and how much they cost the store to buy
- Jean_cost = 25
- Shirt_cost = 15
- Shoe_cost = 10

Here is a list of what they are being sold for
- Jean_cost = 60
- Shirt_cost = 20
- Shoe_cost = 11

We want to keep our margins begween 2% and 14% Create a function that evaluates the cost and the sell price
- If it is over 14% bring back directions to markdown
- If it is under 2% bring back directions to markup
- If it is in range bring back directions to keep same

In [ ]:
#IMU evaluation and suggestions.

## FUNCTIONS

* Functions are a way to write programs within programs
* With many functions you can pass variables into them through arguements. 
* Let's first view a function with no arguements

In [ ]:
# We will define 3 functions:
# print_none, print_one, print_two

def print_none():
    print "Even though this has no arguements it is still important"

#This function will take 1 arguement
def print_one(arg1):
    print "arg1: %r" % arg1

# This function will take 2 arguements
def print_two(arg1, arg2):
    print "arg1: %r, arg2: %r" % (arg1, arg2)

print_none()
    
print_one("this is an arguement") 
'''Notice I'm calling print_one function
I'm then passing text as an arguement'''

print_two("This is arguement1", "This is arguement2")
'''I'm now calling print_two and calling 2 arguements)'''

### EXERCISE
Build a function that prints off and gives examples of the things things you have learned so far.

### Math Functions

In [ ]:
def add(a, b):
    a=10
    b=5
    return a + b
add(a,b)

In [ ]:
def subtract(a, b):
    a=10
    b=5
    return a - b
subtract(a,b)

In [ ]:
def divide(a, b):
    a=10
    b=5
    return a/b
divide(a,b)

#### EXERCISE: 
* Write a function that takes two parameters (hours and rate), and returns the total pay.

In [ ]:
# Total pay

### STRINGS
If you have ever done any amount of working with SQL or EXCEL you will be familiar 
with the need to review and manipulate strings. If you have not these basic concepts
may come in handy in the future.

In [ ]:
# creating
a = 'hello'     # can use single or double quotes

# slicing
a[0]        # returns 'h' (works like list slicing)

In [ ]:
# slicing
a[1:3]      # returns 'el'

In [ ]:
# slicing
a[-1]       # returns 'o'

In [ ]:
# concatenating concats are the same as Excel or SQL you can concat blanks or multiple columns
a + ' there'        # use plus sign to combine strings

In [ ]:
# concatenating ()
str(5) + ' there'   # cast 5 to a string in order for this to work

In [ ]:
# uppercasing
a.upper()       # string method (this method doesn't exist for lists)

In [ ]:
# upper casing 
a[0].upper()+a[1:] #Uppercase of first letter in word

In [ ]:
# checking length
len(a)      # returns 5 (number of characters)

#### EXERCISE 
- Write your first name in all lowercase into Variable 'first' and your last name into variable 'last'
- Combine your name together with upper case for first letter of your first name and upper case for first letter of your last name ie Terry Smith

In [ ]:
f = 'matthew'
l = 'morris'
f[0].upper()+f[1:]+' '+l[0].upper()+l[1:]

## LISTS, SETS, TUPLES, DICTIONARIES
These are all ways to store data OR data structures. 

#### SIMPLE CONCEPT

* Lists are like grocery lists
* Tuples are like a grocery list for a recipe, it cannot be changed
* Dictionary is like a grocery list with prices next to each item

SYMBOLS to memorize
## LIST [ ] 
- a list of values. Each one of them is numbered, starting from zero - the first one is numbered zero, the second 1, the third 2, etc. You can remove values from the list, and add new values to the end. Example: Your many cats' names.
## TUPLE ( )
-  Just like lists, but you can't change their values. The values that you give it first up, are the values that you are stuck with for the rest of the program. Again, each value is numbered starting from zero, for easy reference. Example: the names of the months of the year.
## DICTIONARY { }
- In a dictionary, you have an 'index' of words, and for each of them a definition. In python, the word is called a 'key', and the definition a 'value'. The values in a dictionary aren't numbered - tare similar to what their name suggests - a dictionary. In a dictionary, you have an 'index' of words, and for each of them a definition. In python, the word is called a 'key', and the definition a 'value'. The values in a dictionary aren't numbered - they aren't in any specific order, either - the key does the same thing. You can add, remove, and modify the values in dictionaries. Example: telephone book.
spend some time committing the above symbols and concepts to memory

#### Exercise create your own examples of LISTS, TUPLES and DICTIONARIES

In [ ]:
### LIST [ ]
Let's take a closer look at lists first
List can contain integers, characters or a mix of both

list1 = [1,2,3,4,5,6]

list2 = [soy, bread, eggs]

list3 = [1,5.2,bread]

* Lists can contain lists

list4 = [soy, bread, eggs,[corn, kale, carrots]]

* List of things you can do with lists

Delete, Append, Extend, Insert, Populate, Remove, Reverse, Sort, Add lists together. 

For now we will focus on creating lists and :

* adding lists together
* append values
* replace a list element
* remove list elements
* explorting data
* sorting data
* slicing data

### creating
a = [1, 2, 3, 4, 5]     # create lists using brackets

### slicing
a[0]        # returns 1 (Python is zero indexed)
a[1:3]      # returns [2, 3] (inclusive of first index but exclusive of second)
a[-1]       # returns 5 (last element)

### appending
a[5] = 6        # error because you can't assign outside the existing range
a.append(6)     # list method that appends 6 to the end
a = a + [0]     # use plus sign to combine lists

### checking length
len(a)      # returns 7

### checking type
type(a)     # returns list
type(a[0])  # returns int

### sorting
sorted(a)               # sorts the list
sorted(a, reverse=True) # reverse=True is an 'optional argument'
sorted(a, True)         # error because optional arguments must be named

In [ ]:
Create a list of your favorite bands or movies or foods then use the above
* adding lists together
* append values
* replace a list element
* remove list elements
* explorting data
* sorting data

##### EXERCISE:
Create your list of favorite foods put a '_' for spaces, i.e. phad_thai

#### EXERCISE:
1. Create a list of the first names of your family members.
2. Print the name of the last person in the list.
3. Change the name of the new person to lowercase using the string method 'lower'.
4. Sort the list in reverse alphabetical order.
Bonus: Sort the list by the length of the names (shortest to longest).

In [ ]:
# Create a list of the first names of your family members

In [ ]:
# Print the name of the last person in the list

In [ ]:
# Change the name of the new person to lowercase using the string method 'lower'

In [ ]:
# Sort the list in reverse alphabetical order.

In [ ]:
# Sort the list by the length of the names (shortest to the longest)

### TUPLE ( )

### DICTIONARY {}

In [ ]:
family = {'dad':'Dr.Venture', 'mom':'Unknown', 'size':2}

# check the length
len(family) # returns 3 (number of key-value pairs)

In [ ]:
# use the key to look up a value (fast operation regardless of dictionary size)
family['dad'] # returns 'Dr.Venture'

In [ ]:
# add a new entry
family['pet'] = 'scamp'

In [ ]:
# keys must be unique, so this edits an existing entry
family['pet'] = 'scamp ii'
family['pet']

In [ ]:
# delete an entry
del family['pet']

In [ ]:
# keys can be strings or numbers or tuples, values can be any type
family['kids'] = ['hank', 'dean'] # value can be a list
family

In [ ]:
# useful methods
family.keys() # returns list: ['dad', 'kids', 'mom', 'size']
family.values() # returns list: ['Dr.Venture', ['hank', 'dean'], 'unknown', 2]
family.items() # returns list of tuples:
# [('dad', 'Dr.Venture'), ('kids', ['hank', 'dean']), ('mom', 'unknown'), ('size', 2)]

In [ ]:
#1. Print the name of the mom.

In [ ]:
#2. Change the size to 5.

In [ ]:
#3. Add 'Hank2' to the list of kids. Note-In this tv series the kids are clones

In [ ]:
#4. Fix 'hank' and 'dean' so that the first letter is capitalized.

In [ ]:
#5 Add to the family dictionary bodygaurd 'Brock'

#### You can create a list of numbers using range
list(range(4))
list(range(10))

In [ ]:
#Create a range  of 100

### Loops and Lists
* For and While loop
* Coin toss example
* For loop
* While loop
Creating list of products

#### For and While loop
Loops are a way to reduce code and automate tasks that you would repeat over and over. 

A loop is a sequence of instructions that are continually repeated until			
a certain condition is reached.			
			
* For loop examples 			
An item of data is retrieved or changed			
Then a condition is checked to see if all criteria has been met			
if not the process is repeated. 			
			
We do this all the time in life			
			
Shampoo directions			
Rinse			
Wash			
Rinse			
Repeat until clean			
			
There are 2 types of loops in python the FOR loop and the WHILE loop			
For loops and While loops both allow us to perform an action over and over and over	and over and over.		
			
for loops will iterate through list and perform its action once for each of those items			
	lists and strings have a finite length 		
	So we know how many times a for loop will run based on the length of the list		
A while loop however will continue running and will check conditions to determine whether it should run the loop 1 more time. 			
			
Work and 8 hour day For loop
		
So you will work 8 hours and for every 1 hour you work you will look ask have I worked 8 hours yet?

In [ ]:
for count in range(1,9):
    print "Start of hour"
    print "End of hour"
    print str(count) +" hours"
print "Go home you have worked a full 8 hour day."

In [ ]:
from random import randint
num = 100
flips = [randint(0,1) for r in range(num)]
results = []
for object in flips:
        if object == 0:
            results.append('Heads')
        elif object == 1:
            results.append('Tails')
print results

#### BONUS Excercise - come back to this code and update it to count the number of flips. Do some math to bring back results that show the % of times heads and the % of times tails.

Work until boss leaves!			
This is a while loop			
You are not sure when your boss leaves so you complete a task and then look over at thier desk to see if they are gone. Once they are gone your weekend starts!!!!

In [ ]:
import random
#variables
boss_is_still_working_on_your_review = True
count = 0
#stay at work as long as your boss is working on your review
while boss_is_still_working_on_your_review:	
    print "Heads down and complete a task!"	
    print "When task is finished see if they are gone!"	
    count +=1
    print str(count) +" task(s) complete, good job!"
    print
    
    #Boss will randomly leave
    if random.randrange(0,10) ==0:
        boss_is_still_working_on_your_review = False
        print "Go home you hard worker, boss is gone"

In [ ]:
n=(range(6))
for count in n: 
    print(count) 
    print('Yes' * count)

In [ ]:
for count in [1, 2, 3]:
    print(count)
    print('Yes' * count)
print('Done counting.')
for color in ['red', 'blue', 'green']:
    print(color)

#### summary loops and lists
There are for loops and that is what you want to use 9 times out of 10 they are have an end. 
While loops can go on into oblivion. You use loops when you have a repeatable process and you want to 
reduce code. If youre not sure when you would use a loop just code away and when you hit something where you think, 
"I wish there was a way to reduce this code and only code it once...probably going to be a loop."
For more information on loops checkout the documentation:
http://anh.cs.luc.edu/python/hands-on/3.1/handsonHtml/loops.html

### Read Data

Lets take a look at what the code is going to do. with most code you have to be able to read it backwards. Yoda talk. so reading this backwards we are : taking a drinks.csv file and reading it using a read_csv functions from pd(pandas) and then loading that data into a variable called drinks. drinks = pd.read_csv('~/Desktop/DataScience/drinks.csv')
You will want to adjust the link to navigate to where your file is located.

In [ ]:
# read in the drinks data
drinks = pd.read_csv('~/Desktop/DataScience/drinks.csv')

### Connect to a database and run SQL
You may need to install psycopg2
from your CMD line
type the following

sudo apt-get install libpq-dev python-

pip install psycopg2
* connect
* connect and run a query


#### Connect to Postgres
Connect to the Postgres Database using authentication. Catch and print a connection error if one occurs.

In [ ]:
#!/usr/bin/python
import psycopg2
import sys
 
def main():
	#Define our connection string
	conn_string = "host='analyticsga.cuwj8wuu6wbh.us-west-2.rds.amazonaws.com'dbname='iowa_liquor_sales_database' user='analytics_student' password='analyticsga'"
 
 
	# print the connection string we will use to connect
	print "Connecting to database\n ->%s" % (conn_string)
 
	# get a connection, if a connect cannot be made an exception will be raised here
	conn = psycopg2.connect(conn_string)
 
	# conn.cursor will return a cursor object, you can use this cursor to perform queries
	cursor = conn.cursor()
	print "Connected!\n"
 
if __name__ == "__main__":
	main()

#### Perform a Select
This example shows how to connect to a database, and then obtain and use a cursor object to retrieve records from a table.

In [197]:
#!/usr/bin/python
import psycopg2
import sys
import pprint
import pandas 
 

#Define our connection stri
conn_string = "host='analyticsga.cuwj8wuu6wbh.us-west-2.rds.amazonaws.com'dbname='iowa_liquor_sales_database' user='analytics_student' password='analyticsga'"
 
# print the connection string we will use to connect
print "Connecting to database\n	->%s" % (conn_string)
 
# get a connection, if a connect cannot be made an exception will be raised here
conn = psycopg2.connect(conn_string)
 
# conn.cursor will return a cursor object, you can use this cursor to perform queries
cursor = conn.cursor()
print "Connected!\n"
 
df = pd.read_sql_query('select * from counties', conn)
df
# retrieve the records from the database
# records = cursor.fetchall()
 
# print out the records using pretty print
# note that the NAMES of the columns are not shown, instead just indexes.
# for most people this isn't very useful so we'll show you how to return
# columns as a dictionary (hash) in the next example.
# records

Connecting to database
	->host='analyticsga.cuwj8wuu6wbh.us-west-2.rds.amazonaws.com'dbname='iowa_liquor_sales_database' user='analytics_student' password='analyticsga'
Connected!

           county  population
0           Adair        7682
1           Adams        4029
2       Allamakee       14330
3       Appanoose       12884
4         Audubon        6119
5          Benton       26076
6      Black Hawk      131090
7           Boone       26306
8          Bremer       24276
9        Buchanan       20958
10    Buena Vista       20260
11         Butler       14867
12        Calhoun        9670
13        Carroll       20816
14           Cass       13956
15          Cedar       18499
16    Cerro Gordo       44151
17       Cherokee       12072
18      Chickasaw       12439
19         Clarke        9286
20           Clay       16667
21        Clayton       18129
22        Clinton       49116
23       Crawford       17096
24         Dallas       66135
25          Davis        8753
26        Decatur        8457
27       Delaware       17764
28     Des Moines       40325
29      Dickinson       16667
..            ...         ...
69      Muscatine       42745
70        O'Brien       14398
71        Osceola        6462
72           Page       15932
73      Palo Alto        9421
74       Plymouth       24986
75     Pocahontas        7310
76           Polk      430640
77  Pottawattamie       93158
78      Poweshiek       18914
79       Ringgold        5131
80            Sac       10350
81          Scott      165224
82         Shelby       12167
83          Sioux       33704
84          Story       89542
85           Tama       17767
86         Taylor        6317
87          Union       12534
88      Van Buren        7570
89        Wapello       35625
90         Warren       46225
91     Washington       21704
92          Wayne        6403
93        Webster       38013
94      Winnebago       10866
95     Winneshiek       21056
96       Woodbury      102172
97          Worth        7598
98         Wright       13229

[99 rows x 2 columns]

#### EXERCISE - Explore Iowa Liquor Sales Database
Adjust the code to review other tables in the Iowa liquor sales database:
- stores
- products
- sales (CAUTION this table will run forever change your SQL to have LIMIT of 100 records)

In [ ]:
#stores

In [ ]:
# products

In [ ]:
# sales

You may be thinking to yourself "Awesome! I'm connecting to AWS I'm running SQL, I'm seeing data this is great but... now what?
We will want to explore the data further using Pandas before we do let's do a review
In the next exercise you will:
Define a function called mem and print off all of the things you have learned so far in this class. Do this strictly from memory.
Define another function called rev and review the syllabus and exercises to create a list of things that were covered.

In [ ]:
# Define a function that prints everything you learned from memory

In [ ]:
# Define a function that prints everything that was covered in the class

In [ ]:
#### Review the course and create you own examples of code for each section.

# Introduction to Pandas


Will allow us to use short lines of code to do important manipulation and viewing of our data
* Object Creation
* Viewing data
* Selection
* Missing data
* Grouping
* Reshaping
* Time series
* Plotting
* i/o
 

_pandas.pydata.org_

## Pandas Overview

_Source: [pandas.pydata.org](http://pandas.pydata.org/pandas-docs/stable/10min.html)_

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [183]:
''' below we are taking the records from our SQL that we ran using from_records to place into a dataframe in the pandas library
we are then loading them into a new variable called df after that we are using a pandas functions called head to review 
the fers 5 records'''
df = pd.DataFrame.from_records(records)
df.head()

           0      1
0      Adair   7682
1      Adams   4029
2  Allamakee  14330
3  Appanoose  12884
4    Audubon   6119

#### Viewing Data

In [ ]:
records

In [188]:
df.head()

           0      1
0      Adair   7682
1      Adams   4029
2  Allamakee  14330
3  Appanoose  12884
4    Audubon   6119

In [189]:
df.tail(3)

           0       1
96  Woodbury  102172
97     Worth    7598
98    Wright   13229

In [194]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [ ]:
df.describe()

In [ ]:
df

In [192]:
z = df.sort_values(by="0")
z

KeyError: '0'

### Selection

In [193]:
df[['0','1']]

KeyError: "['0' '1'] not in index"

In [ ]:
df[0:3]

In [ ]:
# By label
df.loc[dates[0]]

In [ ]:
# multi-axis by label
df.loc[:,['A','B']]

In [ ]:
# Date Range
df.loc['20140102':'20140104',['B']]

In [ ]:
# Fast access to scalar
df.at[dates[1],'B']

### Operations

In [ ]:
df.describe()

In [ ]:
df.mean(),df.mean(1) # Operation on two different axes
# there are pandas' methods for min, max etc. as well

### Boolean Indexing

In [ ]:
df

In [ ]:
df[df.A < 0] # Basically a 'where' operation

In [ ]:
df.A < 0

In [ ]:
# Two conditions added together
df[(df.A < 0) & (df.B > .5) ]

In [ ]:
# Two conditions ORed together
df[(df.A < -1) | (df.D > 0)]

### Merge

In [ ]:
np.random.randn(10,4)

In [ ]:
##Concatenating pandas objects together
# create a dataframe to use as an example
df2 = pd.DataFrame(np.random.randn(10,4))
df2

In [ ]:
# Break it into pieces
pieces = [df2[:3], df2[3:7],df2[7:]]
pieces

In [ ]:
pd.concat(pieces)

In [ ]:
# Also can "Join" and "Append"

### Setting

In [ ]:
df_posA = df.copy() # Without "copy" it would act on the dataset

df_posA[df_posA.A < 0] = -1*df_posA

In [ ]:
df_posA

In [ ]:
#Setting new column aligns data by index
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20140102',periods=6))

In [ ]:
s1

In [ ]:
df['F'] = s1

In [ ]:
df

### Missing Data

In [ ]:
# Add a column with missing data
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

In [ ]:
# find where values are null
pd.isnull(df1)

### Applying functions

In [ ]:
df

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# Built in string methods
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

### Grouping

In [ ]:
df3 = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})

In [ ]:
df3

In [ ]:
df3.groupby(['A','B']).sum()

### Reshaping

In [ ]:
# You can also stack or unstack levels

In [ ]:
a = df3.groupby(['A','B']).sum()

In [ ]:
# Pivot Tables
# pd.pivot_table(df3,values=['C','D'],rows=['A'],cols=['B'])

### Time Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 100 Seconds starting on January 1st
rng = pd.date_range('1/1/2014', periods=100, freq='S')

In [ ]:
# Give each second a random value
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [ ]:
ts

In [ ]:
# Built in resampling
ts.resample('1Min',how='mean') # Resample secondly to 1Minutely

In [ ]:
# Many additional time series features
# ts. #use tab

### Plotting

In [ ]:
ts.plot()

In [ ]:
def randwalk(startdate,points):
    ts = pd.Series(np.random.randn(points), index=pd.date_range(startdate, periods=points))
    ts=ts.cumsum()
    ts.plot()
    return(ts)

In [ ]:
# Using pandas to make a simple random walker by repeatedly running:
a=randwalk('1/1/2012',1000)

In [ ]:
# Pandas plot function will print with labels as default

In [ ]:
df = pd.DataFrame(np.random.randn(100, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure();df.plot();plt.legend(loc='best') #

### I/O
I/O is straightforward with, for example, pd.read_csv or df.to_csv

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with examples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas